<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">

    <script src="scripts/vendor/angular.js"></script>
    <script src="scripts/vendor/angular-animate.js"></script>
    <script src="scripts/vendor/angular-aria.min.js"></script>
    <script src="scripts/vendor/jk-carousel.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/categories.js"></script>
    <script src="scripts/controllers/product.js"></script>
    <script src="scripts/controllers/banner.js"></script>
    <script src="scripts/vendor/scrollup.js"></script>

    <script src="scripts/vendor/ui-bootstrap-tpls.js"></script>
    <script src="scripts/vendor/rzslider.js"></script>
    <script src="scripts/vendor/demo.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>


    <link rel="stylesheet" href="style/rzslider.css"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style/banner.css">
    <link rel="stylesheet" href="style/jk-carousel.min.css">
    <link rel="stylesheet" href="style/style.css">

    <title>Lab 6</title>

  </head>
  <body ng-app="myApp" ng-controller="productCtrl">
    <label ng-click="overflow()">
      <input class="my-check" type="checkbox" ng-model="myCheck">
      <div class="lock" ng-hide="myCheck">
        <img class="logo" src="img/Shop-Payment.png" alt="logo" ng-hide="myCheck">
      </div>
    </label>
    <div class="basket-window">
      <div class="header">
        <img class="close" src="img/close.png" ng-click="close()"/>
      </div>
      <div class="main">
        <div ng-repeat="item in obj">
          <b>Наименование: </b>{{item[0]}} |
          <b>Цена: </b>{{item[1]}} руб. |
          <b>Дата доставки: </b>{{item[2]}}
          <hr>
        </div>
      </div>
    </div>
    <div class="m-window">
      <div class="header">
        <img class="close" src="img/close.png" ng-click="close()"/>
      </div>
      <div class="main" ng-controller="bannerCtrl">
        <div class="image">
          <img ng-src="{{ showArr.image[0] }}" />
        </div>
        <span class="name" >{{ showArr.name }}</span>

        <div class="discription">{{ showArr.description }}</div>
        <div class="characteristic" ng-repeat="characteristic in showArr.characteristic">
          {{characteristic.name}}
          {{characteristic.value}}
          <hr>
        </div>

        <div class="bue">
          <select class="" name="" >
            <option ng-repeat="option in showArr.shop" value="{{ option.cost }}">{{ shops[$index].name }} {{ option.cost }} руб.</option>
          </select>
          <input type="date" name="date" placeholder="mm/dd/yyyy">
          <button type="button" name="bue" ng-click="bue()">Купить</button>
        </div>
      </div>
    </div>

    <div id="wrap"></div>

    <header class="header" ng-controller="catCtrl">
      <div class="main">
        <div class="logo-main">
          <img src="img/Shop-Payment-main.png" alt="logo">
        </div>
        <span class="home" ng-click="home()">Главная</span>
        <span class="categories" ng-click="cat()">Категории</span>
        <div class="basket" ng-click="basket()">
          <span >КОРЗИНА</span>
        </div>
      </div>
      <div class="category">
        <div id="big-category" class="big-category">
          <span ng-click="clickCtry($event)">Компьютерная техника</span>
          <span ng-click="clickCtry($event)">Телефония и связь</span>
          <span ng-click="clickCtry($event)">Видео, аудио, фото, оптика</span>
        </div>
        <div class="cat">
          <div  class="category-name" ng-repeat="count in category" ng-click="clickCtry($event)">

              {{ count.name }}

          </div>
        </div>

      </div>
    </header>

    <div ng-controller="bannerCtrl" class="banner">
      <md-card layout="column" layout-align="center center" style="padding-bottom: 10px" >
        <jk-carousel
          data="dataArray"
          item-template-url="'item-template.html'"
          max-width="1349"
          max-height="500"
          auto-slide="true"
          auto-slide-time="2000" >
        </jk-carousel>
      </md-card>
    </div>
    <h1>{{ name }}</h1>
    <div class="products">
      <div class="filter">
        <label>Название: <input type="text" name="fName" value="" ng-keyup="filter()"></label>
        <rzslider
          rz-slider-model="slider.min"
          rz-slider-high="maxCost"
          rz-slider-options="slider.options"
          ng-mouseup="filter()"></rzslider>

      </div>

      <div class="product" ng-repeat="count in products" >
        <div class="image">
          <img ng-src="{{ count.image[0] }}" />
        </div>
        <label>
        <span class="name" >{{ count.name }}</span>

        <div class="discription">{{ count.description }}</div>

        <div class="shop">
          <div class="cost" ng-repeat="shop in count.shop">
            <span class="shop-name">{{ shops[$index].name }}</span>
            {{ shop.cost }} руб.
          </div>
        </div>
        <input type="radio" name="index" value="{{$index}} " ng-click="show()"></label>
      </div>
    </div>

    <div id="scrollup"><img alt="Прокрутить вверх" src="img/up.png"></div>

  </body>
</html>
