<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">

    <script src="scripts/vendor/angular.js"></script>
    <script src="scripts/vendor/angular-animate.js"></script>
    <script src="scripts/vendor/angular-aria.min.js"></script>
    <script src="scripts/vendor/jk-carousel.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/categories.js"></script>
    <script src="scripts/controllers/product.js"></script>
    <script src="scripts/controllers/banner.js"></script>
    <script src="scripts/vendor/scrollup.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style/banner.css">
    <link rel="stylesheet" href="style/jk-carousel.min.css">
    <link rel="stylesheet" href="style/style.css">

    <title>Lab 6</title>

  </head>
  <body ng-app="myApp" ng-controller="productCtrl">
    <label ng-click="overflow()">
      <input class="my-check" type="checkbox" ng-model="myCheck">
      <div class="lock" ng-hide="myCheck">
        <img class="logo" src="img/Shop-Payment.png" alt="logo" ng-hide="myCheck">
      </div>
    </label>

    <header ng-controller="catCtrl">
      <div class="main">
        <div class="logo-main">
          <img src="img/Shop-Payment-main.png" alt="logo">
        </div>
        <span class="home" ng-click="home()">Главная</span>
        <span class="categories" ng-click="cat()">Категории</span>
        <div class="basket">
          <span>КОРЗИНА</span>
        </div>
      </div>
      <div class="category">
        <div id="big-category" class="big-category">
          <span>Компьютерная техника</span>
          <span>Телефония и связь</span>
          <span>Видео, аудио, фото, оптика</span>
        </div>
        <div class="cat">
          <div  class="category-name" ng-repeat="count in category" ng-click="clickCtry($event)">

              {{ count.name }}

          </div>
        </div>

      </div>
    </header>

    <div ng-controller="bannerCtrl" class="banner">
      <md-card layout="column" layout-align="center center" style="padding-bottom: 10px" >
        <jk-carousel
          data="dataArray"
          item-template-url="'item-template.html'"
          max-width="1349"
          max-height="500"
          auto-slide="true"
          auto-slide-time="2000" >
        </jk-carousel>
      </md-card>
    </div>
    <h1>{{ name }}</h1>
    <div class="products">
      <div class="filter">

      </div>

      <div class="product" ng-repeat="count in products">
        <div class="image">
          <img ng-src="{{ count.image[0] }}" />
        </div>

        <span class="name">{{ count.name }}</span>

        <div class="discription">{{ count.description }}</div>

        <div class="shop">
          
        </div>
      </div>
    </div>

    <div id="scrollup"><img alt="Прокрутить вверх" src="img/up.png"></div>

  </body>
</html>
